#aside-col {
    /* border:5px solid black; */
    margin:20px;
    margin-top:50px!important;
    padding:50px;
    background-color:whitesmoke;

}



.aside-img img{
    width:200px;
    height:200px;
    rounded mx-auto d-block
}

.img-border{
    border:2px black solid;
}

.b_image {
    /* background-color:lightgray; */
    background-image: url("world.jpg");
    background-attachment: fixed;
}


.comparison-body{
    position:relative;
    margin:100px!important;

}

.col-border{
    border: 5px white outset;
}

.opacity {
    opacity: 0.95;

}

h1{
    font-family:"Georgia, serif"!important;
    font-weight:bold;
}

h3{
    text-align:center;
    padding:25px;
}

.figure{
    margin-top:30px;
}


.figure p{
    font-size:20px;
    font-family:"Georgia, serif";
}

#graphs img{
    max-width: 100%;
    max-height: 100%; 
}

.info{
    font-size:20px;
    font-family:"Georgia, serif";}

#landing-link{
        background-color:lightseagreen;
        color:white;
        font-size:40px;
        margin-bottom:-10px;
        margin-top:-10px;
        margin-left:40px;
        padding:10px;
        padding-left:50px;
        padding-right:50px;
        border: 5px white outset;
}
.main {
    margin:20px;
    margin-top:50px;
    padding:50px;
    padding-bottom:80px;
    background-color:whitesmoke;

}

#main-header{
    margin-bottom:50px;
}

#main-image{
    float:left;
    padding-bottom:50;
    padding-right:50px;
    max-width: 450px;
    max-height:400px;
    -webkit-use-select:none;
    cursor:zoom-in;

}



#figure-table{
    margin:50px;
    overflow:auto;

}

#visual-header{
    margin-bottom:70px;
}

p{
    /* font-size:1.5vw!important; */
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    p{
        font-size:5vw;
    }
    h1{
        font-size:3.5vw;
    }
        
    }
    #main-image{
        margin-top:-50px!important;
        margin-bottom:30px!important;


        width:100%!important;
        height:100%!important;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

    h1{
        font-size:4vw;
    }
    p{
        font-size:3vw!;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    h1{
        /* font-size:2vw; */
    }
    p{
        /* font-size:1vw; */
    }
} 
} 

